html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Отключает прокрутку */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://kartinki.pics/uploads/posts/2021-07/1626712802_31-kartinkin-com-p-zadnii-fon-dlya-tvicha-krasivo-31.jpg');
    background-size: cover;
    position: relative;
}

.icons {
    position: absolute;
    top: 10px;
    width: calc(100% - 20px); /* Учитываем отступы */
    display: flex;
    justify-content: space-between;
    padding: 0 10px; /* Отступы */
}

.neon-button {
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(45deg, purple, violet);
    background-size: 200% 200%;
    animation: neon 2s linear infinite;
    transition: transform 0.2s;
}

.neon-button:hover {
    transform: scale(1.1);
}

@keyframes neon {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    text-align: center;
}

#coin {
    width: 128px;
    transition: transform 0.1s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; /* Убирает выделение на мобильных устройствах */
    outline: none; /* Убирает обводку при фокусировке */
}

.progress-bar {
    width: 300px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3); /* Прозрачная шкала */
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}

.fill {
    height: 100%;
    width: 0;
    background: linear-gradient(to right, purple, violet);
    transition: width 0.2s;
}

#click-counter {
    font-size: 20px;
    color: white;
}

#level-counter {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.menu, .profile {
    position: fixed;
    bottom: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    transition: bottom 0.3s ease-in-out;
}

.menu .upgrade, .profile .upgrade {
    border: 2px solid purple;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.menu .upgrade h3, .profile .upgrade h3 {
    color: purple;
}

.menu .upgrade p, .profile .upgrade p {
    color: violet;
}

.open {
    bottom: 0;
}

* {
    outline: none; /* Убирает обводку для всех элементов на странице */
}


.hidden {
    display: none;
}
